$main-color: #025ab5;
// #43b1a6; #025ab5; #007294;
$second-color: #f18b9e;
// #75d2b8;
$darker-color: darken($main-color, 20%);
$lighter-color: lighten($main-color, 20%);

$bgDefault: #00c3cc;
$bgHighlight: #7f68ce;
$colDefault: #ecf0f1;
$colHighlight: #8eeff4;

$navBgDefault: #ffffff;
$navBgHighlight: #f18b9e;
//#7f68ce;
$navDefault: #000000;
$navHighlight: #ffffff;
