.portfolio-container {
  width: 100%;
  padding: 0;
  margin-bottom: 10vh;
  .portfolio-head{
    padding: 0;
    width: 100%;
    background-color: $main-color; //#3c3c3c;
  }
  h2 {
    font-size: 4em;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10vh;
    width: 100%;
    color: #ffffff;
    padding: 5vh;
    @include breakpoint(small){
      padding: 5vh;
    }
  }
  .portfolio {
    padding: 0 10vh;
    @include breakpoint(medium){
    padding: 0 10vh;
  }
  @include breakpoint(small){
    padding: 0 5vh;
  }
  h3{
  font-size: 2em;
  @include breakpoint(medium){
    font-size: 1.5em;
  }
  @include breakpoint(xsmall){
    font-size: 1.25em;
  }
}

.portfolio-item{
  height: 40vh;
  width: 100%;
  padding:0;
  margin: 0;
  overflow: hidden;
    .desc{
      display:none;
    }
    .hover-text{
      position: absolute;
      bottom: 0;
      left: 0;
      margin: auto;
      padding: 0 0.5em;
      width: 100%;
      z-index: 10;
      overflow: hidden;
      text-align: center;
      opacity: 0;
    }
    .hover-text h3 {
      padding: 1.5em 0;
      text-align: center;
      font-size: 1.5em;
      background-color: transparent;
      color: #000;
      opacity: 0;
    }
  }
    .portfolio-link{
      color: #000;
      height: 100%;
      width: 100%;
      text-align: center;
      margin: auto;
      &:hover{
        .portfolio-img{
          opacity: 0.2;
          -webkit-transition: opacity 0.35s;
          transition: opacity 0.35s;
        }
        .hover-text {
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
          transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
          -webkit-transform: translate3d(0,-50%,0);
          transform: translate3d(0,-50%,0);
          opacity: 1;
        }
        .hover-text h3 {
          opacity: 1;
        }
    }
    .portfolio-img{
      position: absolute;
      top: 0;
      left: 0;
      width: 120%;
      height: 100%;
      margin: auto;
      z-index: 9;
      @include breakpoint(xsmall){
        width: 100%;
      }
    }
    .portfolio-img img{
      width: 100%;
      margin: auto;
    }
}

.btn-primary.raised {
box-shadow: 0 5px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
box-shadow: none;
padding-bottom: -3px;
padding-top: 3px;
}
.btn-primary, .btn {
  color: #000000;
background-color: transparent;
border: none;
font-size: 1.5em;
margin: 0.5em;
&:hover, &:focus, &:active {
  background-color: $second-color !important;
  color: #ffffff;
}
}

}
}
